@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-p6iuhu');
	src:url('fonts/icomoon.eot?#iefix-p6iuhu') format('embedded-opentype'),
		url('fonts/icomoon.woff?-p6iuhu') format('woff'),
		url('fonts/icomoon.ttf?-p6iuhu') format('truetype'),
		url('fonts/icomoon.svg?-p6iuhu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-down-2:before {
	content: "\f107";
}
.icon-arrow-down:before {
	content: "\e600";
}
.icon-arrow-up:before {
	content: "\e601";
}
.icon-down:before {
	content: "\e602";
} 
body
{
	width: 100%;
	float: left;
	margin:0;
	padding:0;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	background: #fff;
}
body.home 
{
	background: #e1e1e1;
}
ul
{
	list-style: none;
}
a
{
	color: #0189b6;
	text-decoration: none;
}
a, p, h1, h2, h3, h4, li, ul
{
	margin:0;
	padding:0;
}

.navigation_buttons
{
	display: none;
	width: 40px;
	min-height: 40px;
	max-height: 80px;
	float: left;
	position: fixed;
	top: 50%;
	margin-top: -40px; 
	right: 20px; 
	z-index: 1000000000;
} 
.navigation_buttons ul
{
	width: 100%;
	float: left;
}
.navigation_buttons ul li
{
	width: 40px;
	height: 40px;
	float: left;
}
.navigation_buttons ul li:nth-child(2) a
{
	border-top:0; 
}
.navigation_buttons ul li a:hover
{
	background: #747474;
	color: #fff;
}
.navigation_buttons ul li a
{
	width: 38px;
	height: 28px;
	padding-top: 10px;
	text-align: center;
	border: 1px solid #747474;
	color: #747474;
	float: left;
	cursor: pointer;
	font-size: 1.2em;
}

/*************
*** Header ***
**************/

.header 
{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	background: transparent;
}
.header .content
{
	width: 1020px;
	margin: 0 auto;
	position: relative;
}
.header .logo
{
	width: 240px;
	width: 100%;
	height: 36px;
	float: left;
	overflow: hidden;
	background:url(images/logo.png) 50% 100% no-repeat;
	background-size: 100% auto;
	margin-top: 2px;
	background-color: red;
	background: transparent;
}
.header .logo a
{
	width: 100%;
	height: 100%;
	float: left;
}
.header .logo a h1
{
	width: 100%;
	text-align: left;
	font-size: 24px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	transition:0.5s;
	-webkit-transition:0.5s;
	padding-top: 7px;
}
.header .logo a h1.white
{
	color: #fff;
}
.header .logo a h1.black
{
	color: #000;
	display: none;
}
.header .title_top
{
	width:300px;
	float: left;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -150px;
	z-index: 1000;
	display: none;
}
.header .title_top h1
{
	width: 100%;
	margin:0 auto;
	text-align: center;
	color: #282828;
	font-size: 2em;
	font-weight: 500;
}
.header .nav
{
	position: absolute;
	right: 0;
	margin-top: 10px;
	float: right;
	height: 30px;
}
.header .nav ul
{
	float: left;
}
.header .nav ul li
{
	float: left;
}
.header .nav ul li a
{
	float: left;
	padding: 0.3em 0;
	padding-bottom: 0.2em;
	font-size: 1em;
	color: #fff;
	transition:0.5s;
	-webkit-transition:0.5s;
}
.header .nav .menu li a
{
	padding-left:0.8em; 
	padding-right:0.8em; 
	background:#0189b6;
	background: transparent;
	border-radius: 3px;
	color: #fff;
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}
.header .nav .language
{
	float: left;
	margin-right: 1.2em;
}.header .nav .language li a
{
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}
.header .nav .language li:first-child
{
	margin-right: 1em;
} 
.header .nav .language li.selected a
{
	border-bottom: 1px solid #fff;
} 
/**********************
**** MObile header ****
***********************/


.mobile_header 
{
	width: 100%;
	padding-top: 25px;
	padding-bottom: 18px;
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	background: #fff;
	display: none;
	border-bottom: 1px solid #f4f4f4;
}
.mobile_header .content
{
	width: auto;
	margin: 0 1em;
	position: relative;
}
.mobile_header .logo
{
	width: 180px;
	height: 36px;
	float: left;
	overflow: hidden;
	background:url(images/logo.png) 50% 100% no-repeat;
	background-size: 100% auto; 
	background: transparent;
}
.mobile_header .logo a
{
	width: 100%;
	height: 100%;
	float: left;
}
.mobile_header .logo a h1
{
	width: 100%;
	text-align: left;
	font-size: 24px;
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	transition:0.5s;
	-webkit-transition:0.5s; 
	padding: 0;
	margin: 0;
}
.mobile_header .mobile_button
{
	width: 40px;
	height: 34px;
	border:1px solid #000;
	border-radius: 3px;
	float: right;
	position: absolute;
	top:-4px;
	right: 0;
	cursor: pointer;
}
.mobile_header .nav
{
	position: fixed;
	top: 80px;
	left: 0;
	z-index: 800;
	height: 100%;
	width: 100%;
	float: left;
	background: #f4f4f4;
	z-index: 10000;
	overflow-y:scroll; 
	padding-top: 1em;
	display: none;
}
.mobile_header  .nav h4
{
	width: 100%;
	float: left;
	text-align: center;
	margin: 0;
	padding: 0.5em 0; 
	font-size: 2em;
	color: #595959;
	border:1px solid #cecece;
}
.mobile_header  .nav ul.categories
{
	margin-bottom: 0;
}
.mobile_header  .nav ul.language
{
	margin-bottom: 6em;
}
.mobile_header  .nav ul
{
	width:100%;
	float: left;
	text-align: center; 
	margin-bottom: 2em;
	border-bottom: 1px solid #f4f4f4;
	padding: 0;
}
.mobile_header  .nav ul li
{
	width:100%; 
	float: left;
	margin: 0;
	padding: 0;
}
.mobile_header .nav ul li a
{
	width:100%;
	margin: 0;
	padding: 0.6em 0;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: 600;
	text-align: center;
	border-top: 1px solid #f4f4f4;
	float: left;
}

/*************
**** MAIN ****
**************/

.main
{
	width: 100%;
	float: left;
	clear: both;
	height: 100vh;
	background: #fff url(images/bg_section.jpg) repeat-x;
	position: relative;
	z-index: 60;
}
.main .content
{
	width: 1020px;
	height: 590px;
	float: left;
	top: 50%;
	margin-top: -255px;
	bottom: 0;
	left: 50%;
	margin-left: -510px;
	position: absolute;
}


/*************
**** HOME ****
**************/

#home
{
	z-index: 0;
}
#home .content
{
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	right: 0 ;
	bottom: 100px;
	position: absolute;
	margin: 0;
	padding: 0;
	background:#000 no-repeat 50% 50%;
	background-image: url(images/desktop.jpg);
	background-size:cover;
}
#home .gradient_footer
{
	width: 100%;
	height: 100px;
	float: left;
	background:url(images/gradient_footer.png) repeat-x 0% 100%;  
	position: absolute;
	left: 0;
	bottom:0;
	z-index: 1;
}
#home .black_background
{
	width: 100%;
	height: 100%;
	float: left;
	background:#1a1a1a;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
	position: absolute;
	left: 0;
	top:0;
	z-index: 1;
}
#home .content .text
{
	display: none;
	width: 500px;
	height: 288px;
	float: left;
	position: absolute;
	top: 50%;
	margin-top: -135px;
	left: 50%;
	margin-left: -250px;
	z-index: 100;
}
#home .content .text h1
{
	width: 100%;
	float: left;
	clear: both;
	font-size: 3.2em;
	font-weight: 800;
	line-height: 1em;
	letter-spacing: 0.02em;
	color: #fff;
	margin-left: -4px;
	text-align: center;
	font-family: 'Asap', sans-serif;
	font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
	font-family: 'Lato', sans-serif; 
}
#home .content .text h2
{
	width: 100%;
	float: left;
	clear: both;
	font-size: 1.4em;
	font-weight: 400;
	text-align: justify;
	line-height: 1.2em;
	margin-top: 1.2em;
	letter-spacing: 0.02em;
	color: #fff;
	text-align: center;
}
#home .content .text .button_portfolio
{
	width: 230px;
	margin: 0 auto;
}
#home .content .text .button_portfolio a:hover
{
	border-color: #00759c;
	background: #009ED3;
}
#home .content .text .button_portfolio a
{
	float: left;
	clear: both;
	font-size: 1.2em;
	font-weight: 800;
	line-height: 1.2em;
	margin-top: 2em;
	padding: 1em 1.5em;
	background: url(images/link_button.png);
	letter-spacing: 0.02em;
	color: #fff;
	-webkit-border-radius: 0.6em;
	-moz-border-radius: 0.6em;
	border-radius: 0.6em;
	border:2px solid #006181;
	background: #0189b6;
	transition:0.3s;
	text-align: center;

	font-family: 'Lato', sans-serif; 
}
#home .content .text a:hover
{
	background: #0388b4;
	color: #fff;
}
#home .flecha_down a
{
	color: #fff;
}
.main .flecha_down
{
	width: 80px;
	height: 40px;
	float: left;
	left: 50%;
	margin-left: -40px;
	bottom: 15px;	
	z-index: 1002220;
	position: absolute; 
	text-align: center;
}
.main .flecha_down a
{
	width: 100%;
	text-align: center;
	font-size: 2.8em;
	line-height: normal;
	color: #000;
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

/*******************
**** Web design ****
********************/

.main .web_design 
{
	width: 100%;
	height: 590px;
	float: left;
	position: relative;
	background: #ffffff;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.main .web_design 
{
	width: 100%;
	height: 590px;
	float: left;
	position: relative;
	background: #ffffff;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.main .web_design ul
{
	width: 100%;
	height: 590px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	overflow: hidden;
	float: left;
}
.main .web_design ul li
{
	width: 100%;
	height: 100%;
	float: left;
	background: 50% 50% no-repeat;
	background-size: cover;
}
.main .web_design .safari_top
{
	width: 100%;
	height: 590px;
	float: left;
	position: relative;
	background: #ffffff;
	border: 1px solid #eeeeee;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
/***********************
**** Graphic design ****
************************/

.main .graphic_design 
{
	width: 100%;
	height: 590px;
	float: left;
	position: relative;
}
.main .graphic_design .box
{
	float: left;
	position: absolute;
	background:#f4f4f4 no-repeat 0% 50%;
	background-size: cover;
	border-bottom: 2px solid #000;	
	transition:1s;
	-webkit-transition:1s;
} 
.main .graphic_design .top_left
{
	width: 390px;
	height: 225px;
	background-color: #d17b7a;
	border-bottom-color:transparent; 
	background:#f4f4f4 no-repeat 0% 50%;
	z-index: 0;
	top: 25px;
	left: 0;
}
.main .graphic_design .top_middle
{
	width: 370px;
	height: 325px;
	background-color: #7a97d1;
	border-bottom-color:#7a97d1; 
	background-position:50% 50%;
	z-index: 4;
	left: 307px;
	top: 0;
} 
.main .graphic_design .top_right
{
	width: 380px;
	height: 189px;
	background-color: #ccd27c;
	border-bottom-color:#ccd27c; 
	z-index: 6;
	top: 30px;
	right: 0;
}
/* Second row */
.main .graphic_design .bottom_left
{
	width: 280px;
	height: 315px;
	background-color: #7ad2ba;
	border-bottom-color:#7ad2ba;
	background-position: 50% 50%; 
	z-index: 1;
	bottom: 0;
	left: 0;
}
.main .graphic_design .bottom_middle
{
	border-top:24px solid #fff;
	border-right:24px solid #fff;
	width: 412px;
	height: 245px;
	background-color: #d27ba6;
	border-bottom-color:#d27ba6; 
	background-position: 50% 50%; 
	z-index: 3;
	bottom: 0;
	left: 307px;
}
.main .graphic_design .bottom_right
{
	width: 380px;
	height: 343px;
	background-color: #7bd28e;
	border-bottom-color:#7bd28e; 
	border-left:24px solid #fff;
	border-top:24px solid #fff;
	background-position: 50% 50%; 
	z-index: 0;
	bottom: 0;
	right: 0;
}

/********************
**** Mobile apps ****
*********************/

.main .apps
{
	width: 100%;
	height: 622px;
	float: left; 
	margin-bottom: 2em;
	z-index: 10;
	position: relative;
}
.main .apps .single_app
{
	float: left;
	height: 100%;
	background: url(images/iphone_middle.png) 50% 50% no-repeat;
	background-size:100% auto ;
	position: absolute; 
	overflow: hidden;
}
.main .apps .single_app .design
{
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
}
.main .apps .single_app .design span
{
	top:105px;
	bottom: 100px;
	left: 21px;
	right: 17px;
	position: absolute;
	float: left;
	background-color: #cecece;
	overflow: hidden;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.main .apps .left_short .design span,
.main .apps .right_short .design span
{ 
	overflow: hidden;
	left:17px;
	right:14px; 
	top: 115px;
	bottom: 114px;
}
.main .apps .middle .design span
{
	top:95px;
	bottom: 96px;
	left: 26px;
	right: 21px;
}
.main .apps .middle
{
	width: 325px;
	height: 100%;
	top: 0;
	left: 50%;
	margin-left: -165px; 
	z-index: 100;
}
.main .apps .left
{
	width: 260px;
	height: 550px;
	top: 62px;
	left: 130px;
	z-index: 50;
}
.main .apps .left_short
{
	width: 200px;
	height: 490px;
	top:90px;
	left: 0;
	z-index: 30;
}
.main .apps .right_short
{
	width: 200px;
	height: 490px;
	top: 90px;
	right: 0;
	z-index: 30;
}
.main .apps .right
{
	width: 260px;
	height: 550px;
	right: 130px;
	top: 62px;
	z-index: 50;
}

/***************
**** Footer ****
****************/

.footer 
{
	width: 100%;
	height:100vh;
	float: left;
	position: relative;
	background:#121212 50% 50% no-repeat;
	background-size: 100% auto;
	background-image: url(images/desktop.jpg);
	background-size:cover;
	z-index: 1000;
	overflow: hidden;
}
.footer .content
{
	width: 747px;
	height: 290px;
	display: none;
	float: left;
	top: 50%;
	left: 50%;
	margin-left: -373.5px;
	margin-top: -140px;
	position: absolute;
}
.footer .black_background
{
	width: 100%;
	height: 100%;
	float: left;
	background: #1a1a1a;
	opacity: 0.6;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
.footer .round_image
{
	width: 100px;
	height: 100px;
	position: absolute;
	border:3px solid #fff;
	background: #c2c1c1;
	left: 50%;
	margin-left: -50px;
	top:0;
	margin-top: -8.5em;
	border-radius: 100%;
	overflow: hidden;
	float: left;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:    0px 0px 8px 0px rgba(0, 0, 0, 0.4);
	box-shadow:         0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}
.footer .round_image .avatar
{
	width: 100%;
	height: 100%;
	float: left;
	background:no-repeat 50% 50%;
	background-size: 100% auto;

}
.footer h1
{
	width: 100%;
	text-align: center;
	font-size: 2em;
	font-weight: 400;
	color: #f6f5f5;
}
.footer h2
{
	width: 100%;
	text-align: center;
	font-size: 1em;
	font-weight: 400;
	color: #f6f5f5;
	margin: 1em 0;
}
.footer p
{
	width: 100%;
	text-align: center;
	font-size: 1em;
	font-weight: 400;
	color: #f6f5f5;
	margin: 1em 0;
	float: left;
}
.footer p a 
{
	color: #36ff00;
	border-bottom: 2px solid #36ff00;
}
.footer .button_footer
{
	width: 100%;
	margin: 0 auto;
	float: left;
	text-align: center;
}
.footer .button_footer div
{
	width:300px;
	margin: 0 auto;
}
.footer .button_footer div a
{
	float: left;
	clear: both;
	font-size: 1.2em;
	font-weight: 800;
	line-height: 1.2em;
	margin-top: 2em;
	padding: 1em 1.5em;
	background: url(images/link_button.png);
	letter-spacing: 0.02em;
	color: #fff;
	-webkit-border-radius: 0.6em;
	-moz-border-radius: 0.6em;
	border-radius: 0.6em;
	border:2px solid #fff;
	transition:0.3s;
	text-align: center;
	font-family: 'Lato', sans-serif; 
	font-weight: 600;
}
.footer .copyright
{
	width: 100%;
	height: 50px;
	border-top: 1px solid #000;

	float: left;
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
}
.footer .copyright p
{
	width: 100%;
	float: left;
	text-align: center;
	margin: 0;
	padding: 0;
	opacity: 0.7;
	color: #fff;
	margin-top: 1em;
}
 
@media all and (max-width: 1019px) {


	.header 
	{
		display: none;
	}
	.mobile_header 
	{
		display: block;
	}
	.navigation_buttons 
	{
		display: none !important;
	}

	.header 
	{
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
		float: left;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10000; 
		background: #fff;
	}
	.header .logo h1,
	.header a,
	.header .title_top h1
	{
		color: #000 !important;
	}
	.header .content
	{
		width: auto;
		margin: 0 1em;
		position: relative;
	}    
	.header .nav
	{
		width: auto;
		margin-top: 5px;
	}
	.main
	{
		width: 100%;
		height: auto;
		padding: 2em 0;
		display: block;
		z-index: 60;
		float: left;
		position: relative;
	}

	.main .content
	{
		width: auto; 
		height: auto !important;
		margin: 0 1em;
		position: relative;
		top: 0;
		left:0;
		bottom:0;
		float: none;
	}
	/*************
	**** HOME ****
	**************/


	#home 
	{
		height:100%;
		margin-top: 70px;
		float: left;
		clear: both;
		position: relative;
		padding: 0;
	}
	#home .content 
	{
		height: 100%;
		float: left;
		bottom: 0;
		position: relative;
		padding: 8em 0; 
		background-size: cover;
	}
	#home .content .text
	{
		width: auto;
		height: auto !important;
		margin: 0;
		left: 0;
		margin: 0 1em;
		top: 39%;
		position: relative;
		display: block !important;
		 
	}
	#home .content .text h1
	{
		width: 100%; 
		font-size: 2.2em;
		font-weight: 600; 
	}
	#home .content .text h2
	{
		width: 100%;
		float: left;
		clear: both;
		font-size: 1.4em;
		font-weight: 400;
		text-align: justify;
		line-height: 1.2em;
		margin-top: 1.2em;
		letter-spacing: 0.02em;
		color: #fff;
		text-align: center;
	}
	.main .flecha_down
	{
		width: 100%;
		height: 40px;
		float: left;
		left: 0;
		bottom: 20px;
		margin: 0;
		position: relative;  
	}
	.main .flecha_down a
	{
		width: 100%;
		text-align: center;
		font-size: 2em;
		line-height: normal;
		color: #fff;
	    opacity: 1;
	    filter: alpha(opacity=100); /* For IE8 and earlier */
	}

	/***
	GRAPHIC
	*****/

	.graphic_design
	{
		height: auto !important;  
		padding-top: 80px;
	}
	.main .graphic_design .box
	{
		width: 50%;
		height: 300px;
		margin: 0;
		float: left;
		position: relative;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0; 
		border:0;
		-webkit-transition:1s;
		transition:1s;
		background-size: cover;
	} 

	/******
	APPS ****/
	.main .apps
	{
		height: auto;
		padding-top: 80px;
		overflow: hidden;
	}
 	.main .apps .single_app:last-child
 	{
 		display: none;
 	} 
 	.main .apps .single_app 
 	{
 		position: relative;
 		top: 0;
 		left: 0;
 		right: 0;
 		bottom: 0;
 		float: left;
 		clear: both;
 	}
		
	.main .apps .middle .design span
	{
		top:105px;
		bottom: 96px;
		left: 26px;
		right: 21px;
	}
	.main .apps .middle
	{
		width: 260px;
		height: 500px; 
		top: 0;
		left: 50%;
		margin-left: -165px; 
		z-index: 100;
		float: left;
		clear: both;
		position: relative;
	}
	.main .apps .left
	{
		width: 260px;
		height: 550px;
		top: 62px;
		right: 0px;
		float: right;
		z-index: 120;
		margin-top: -360px;
	}
	.main .apps .left_short
	{
		width: 200px;
		height: 490px;
		top:90px;
		left: 50%;
		right: 0;
		z-index: 30;
		margin-top: -360px;
		z-index: 223;
	}
	.main .apps .right_short
	{
		width: 200px;
		height: 490px;
		top: 90px;
		right: 0;
		z-index: 30;
	}
	.main .apps .right
	{
		width: 260px;
		height: 550px;
		right: 130px;
		top: 62px;
		z-index: 50;
		margin-top: -400px;
		z-index: 100;
	}

	.footer 
	{
		width: 100%; 
		height: auto;
		margin-top: 70px;
		float: left;
		clear: both;
		position: relative;
		padding: 0;
		padding-bottom: 4em;
	}
	.footer .content
	{
		width: auto;
		height: 100%;
		margin: 2em 1em;
		float: none; 
		top: 0;
		left: 0;
		position: relative; 
		background-size: cover;
		display: block !important;
	}
	.footer .content h1
	{
		font-size: 1.3em;
	}
 
}


@media all and (max-width: 600px) {

	.main .graphic_design .box
	{ 
		height: 200px;
	}
}



@media all and (max-width: 350px) {

	.main .graphic_design .box
	{ 
		height: 150px;
	}
}



 